@use "../colors";

// Change the Navigation Bar height here
$navbar-height: 82px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: x-large;
  padding-top: $navbar-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-cover,
.parralax {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font-small {
  font-size: 0.75rem;
}

.frame,
.frame-hover {
  padding: 1px;
  border: solid 3px #efefef;
}

.frame-hover {
  &:hover,
  frame {
    border: solid 3px #ccc;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }
}

.font-small {
  font-size: 0.9rem;
}

.font-smaller {
  font-size: 0.8rem;
}

.font-big {
  font-size: 1.25rem;
}

.font-bigger {
  font-size: 1.5rem;
}

.letter-spacing-big {
  letter-spacing: 2px;
}

.letter-spacing-bigger {
  letter-spacing: 3px;
}

.line-height-big {
  line-height: 2rem;
}

// Fonts

.font-title {
  font-family: "Zilla Slab" !important;
}

.font-subtitle {
  font-family: "Amatic SC" !important;
}

.font-text {
  font-family: "Open Sans Condensed", sans-serif !important;
}

// What is this for?
.is-medium {
  display: none;
}

.is-default {
  display: none;
}

// Used in a div to create a space with an image
.separator-image {
  height: 250px;
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

// Limiting the height and fitting the picture for a 2 column display
[class*="display-two-columns"] {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Enable to position text over an image
.text-over-image {
  position: relative;
  text-align: center;
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.top-page-title {
      @extend .border;
      @extend .border-warning;
      @extend .border-right-0;
      @extend .border-left-0;
      @extend .display-4;
      @extend .text-white;
      @extend .text-uppercase;
      border-width: 4px !important;
    }
  }

  .border {
    border-width: 4px !important;
  }

  .image-background-top-page {
    height: 250px;
  }
}

// ### START NavigationBar COMPONENT CSS

@mixin transition($property) {
  -webkit-transition: $property;
  -o-transition: $property;
  transition: $property;
}

.navbar-toggler {
  border-color: transparent !important;
}

.navbar {
  border-bottom: 2px solid $brand-1;

  .navbar-logo {
    width: 250px;
  }

  font-size: 1rem;

  .dropdown-menu {
    text-align: center;
    border: 1px solid $brand-1;
    border-radius: 0px;

    a {
      &:hover {
        background-color: unset;
        color: $brand-1;
      }
    }
  }

  a {
    text-transform: uppercase;
    font-weight: 300;

    @include transition(all 300ms ease-in-out);
  }

  a[title*="Book your spot"] {
    color: $brand-1;
    font-weight: bold;

    &:hover {
      color: rgba($brand-1, $opacity-link);
    }
  }

  .nav-link {
    color: $dark !important;

    &:hover,
    &.active {
      color: $brand-1 !important;
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: $brand-1;
    background-color: unset;
  }

  .navbar-brand:hover,
  .nav-link:hover,
  .navbar-nav .active {
    cursor: pointer;
  }
}

// ### END NavigationBar COMPONENT CSS

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
  } */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .is-mobile {
    display: inline-block;
  }

  .is-medium {
    display: none;
  }

  .is-default {
    display: none;
  }
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .is-mobile {
    display: none;
  }

  .is-medium {
    display: inline-block;
  }

  .is-default {
    display: none;
  }

  .parralax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

  [class*="display-two-columns"] {
    height: 400px;
  }
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .is-medium {
    display: none;
  }

  .is-default {
    display: inline-block;
  }

  [class*="display-two-columns"] {
    height: 500px;
  }

  .navbar {
    .navbar-logo {
      width: 200px;
    }

    font-size: 1.25rem;

    .dropdown-menu {
      text-align: left;
    }
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
